*{margin: 0; padding:0;}
*{box-sizing: border-box;}
body{
	background: #F2F2F2;	
	margin: 0;
	font-family:"Helvetica",sans-serif;
	text-align: center;
}
h1{
	padding-top: 30px;
	font-size: 40px;
	font-weight: normal;
}
h4{
	font-weight: normal;
}
a{
	color: #0196e3;
	text-decoration:none;
	display: inline-block;
	margin-top:10px; 
	font-weight: normal;
}
a:hover{
	text-decoration:underline;
}
p{
	font-size: 13px;
}
.container{
	position: relative;
}
.window{
	width:900px;
	height:100%;
	margin:20px auto;
	overflow:hidden;
	box-shadow: 0px 1px 9px -1px rgba(0,0,0,0.64);
}
.images{
	display: flex;
	transition: all .5s;
}
.images>img{
	width:100%;
}
.footer{
	background-color: #F1F1F1;
}
#buttonWrapper button{
	cursor: pointer;
	display: inline-block;
	padding: 15px 16px;
	border: none;
	border-radius:1px;
	outline:none; 
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 6px;
}
#controls svg#previous{
	cursor: pointer;
	width:40px;
	height: 45px;
	top:347px;
	left:245px;
	position: absolute;
}
#controls svg#next{
	cursor: pointer;
	width:40px;
	height:45px;
	top:347px;
	right:245px;
	position: absolute;
}